<div class="d-flex align-items-center gap-2 mx-3 mt-4 mb-3 justify-content-end">
  <div class="input-group" style="width:40%;">
    <input type="text" class="form-control" placeholder="Search..." [formControl]="searchControl">
    <button class="btn btn-outline-primary" type="button" title="Search" (click)="search()">
      <i class="bi bi-search"></i>
    </button>
  </div>

  <button (click)="create()" class="btn btn-outline-primary me-5" title="Create Document">
    <i class="bi bi-plus"></i>
  </button>
</div>

<div class="table-wrapper">
  <div class="table-container">
    <table class="documents-table">
      <thead>
        <tr>
          <th>
            <i class="bi bi-file-earmark-text"></i>
            Title
          </th>
          <th>
            <i class="bi bi-clock"></i>
            Last Seen
          </th>
          <th>
            <i class="bi bi-person"></i>
            Created By
          </th>
          <th class="text-center">Action</th>
        </tr>
      </thead>

      <tbody>
        @for (document of documents$ | async; track document.documentId) {
        <tr>
          <td>
            <div class="title-text" [title]="document.title">
              {{ document.title }}
            </div>
          </td>
          <td>{{ document.lastSeenAt | relativeTime}}</td>
          <td>
            {{ document?.user?.firstName }} {{ document?.user?.lastName }}
          </td>
          <td class="text-center">
            <button type="button" class="action-btn" (click)="edit(document.documentId)">
              <i class="bi bi-pencil"></i>
            </button>
          </td>
        </tr>
        } @empty {
        <tr class="empty-state">
          <td colspan="4">
            <i class="bi bi-inbox"></i>
            No records found
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>