<main class="auth-wrapper">
    <form [formGroup]="form" (ngSubmit)="signUp()" class="auth-card" novalidate>
        <h2 class="title">Sign Up</h2>

         <label class="label" for="username">User Name</label>
        <input id="username" formControlName="username" type="text" placeholder="Enter your username" class="input" />

         <label class="label" for="firstName">First Name</label>
        <input id="firstName" formControlName="firstName" type="text" placeholder="Enter your first name" class="input" />

         <label class="label" for="lastName">Last Name</label>
        <input id="lastName" formControlName="lastName" type="text" placeholder="Enter your last name" class="input" />

        <label class="label" for="password">Password</label>
        <input id="password" formControlName="password" type="password" placeholder="Create a password" class="input" />

        <button type="submit" class="btn" [disabled]="form.invalid">Sign Up</button>
    </form>
</main>